<p style="color: green"><%= notice %></p>

<%= render @zone_e %>

<div>
  <%= link_to "Edit this zone e", edit_zone_e_path(@zone_e) %> |
  <%= link_to "Back to zone es", zone_es_path %>

  <%= button_to "Destroy this zone e", @zone_e, method: :delete %>
</div>
