<p style="color: green"><%= notice %></p>

<%= render @zone_i %>

<div>
  <%= link_to "Edit this zone i", edit_zone_i_path(@zone_i) %> |
  <%= link_to "Back to zone is", zone_is_path %>

  <%= button_to "Destroy this zone i", @zone_i, method: :delete %>
</div>
