<p style="color: green"><%= notice %></p>

<%= render @zone_r %>

<div>
  <%= link_to "Edit this zone r", edit_zone_r_path(@zone_r) %> |
  <%= link_to "Back to zone rs", zone_rs_path %>

  <%= button_to "Destroy this zone r", @zone_r, method: :delete %>
</div>
