<%= form_with(model: zone_q) do |form| %>
  <% if zone_q.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(zone_q.errors.count, "error") %> prohibited this zone_q from being saved:</h2>

      <ul>
        <% zone_q.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :desk_id, style: "display: block" %>
    <%= form.text_field :desk_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :campaign, style: "display: block" %>
    <%= form.text_field :campaign %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
