

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <nav class="navbar navbar-light" style="background-color: #e3f2fd; height: 60px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);">
    <div style="padding-top: 15px; padding-left: 30px;">
      <a href="/">
        <img src="https://www.outsourceglobal.com/logo.png" alt="Your Company Logo" style="width: 100px;">
      </a>
    </div>
  </nav>
  

  <div style="background-image: url('<%= asset_path('bg1.svg') %>'); background-size: cover; background-position: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
    <%= render "stylesheet" %>
  </div>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag if defined?(csp_meta_tag) %>
</head>
<body>

<%= render "icons" %>


  <div class="app-container">
  <%= render "navigation" -%>

    <main class="main-content">
      <%= render "flashes" -%>
      <%= yield %>
    </main>
  </div>

  <%= render "javascript" %>
</body>
</html>
