

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <title>
    <%= content_for(:title) %> - <%= application_title %>
  </title>

  <div style="padding-top: 30px; padding-left: 30px;">
  <img src="https://www.outsourceglobal.com/logo.png" alt="Your Company Logo" style="width: 200px;">

  </div>

  <div style="background-image: url('<%= asset_path('bg1.svg') %>'); background-size: cover; background-position: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
    <%= render "stylesheet" %>
  </div>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag if defined?(csp_meta_tag) %>
</head>
<body>


  <%= render "icons" %>

  <div class="app-container">
    <%= render "navigation" -%>

    <main class="main-content">
      <%= render "flashes" -%>
      <%= yield %>
    </main>
  </div>

  <%= render "javascript" %>
</body>
</html>
