

<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOODP">
  <meta name="viewport" content="initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    

  <div style="background-image: url('<%= asset_path('bg2.svg') %>'); background-size: cover; background-position: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
    <%= render "stylesheet" %>
  </div>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag if defined?(csp_meta_tag) %>
</head>
<body>

<div style="padding-bottom: 40px;">
<nav class="navbar navbar-light" style="background-color: #e9f9fd; height: 62px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); position: fixed; top: 0; left: 0; width: 100%; z-index: 2;">
    <div class="container-fluid" style="display: flex; align-items: center; padding: 2px 30px;">
      <div class="logo">
        <a href="/">
          <img src="https://www.outsourceglobal.com/logo.png" alt="Your Company Logo" style="width: 100px;">
        </a>
      </div>
      <div class="main-content__page-tittttle" style="display: flex; align-items: center; justify-content: center;">
        <h2 style="margin: 0; text-align: center; font-size: 20px; font-weight: normal;">Global DeskScape</h2>
      </div>
    </div>
    
  </nav>

</div>
<%= render "icons" %>


  <div class="app-container">
  <%= render "navigation" -%>

    <main class="main-content">
      <%= render "flashes" -%>
      <%= yield %>
    </main>
  </div>

  <%= render "javascript" %>
</body>
</html>


