<p style="color: green"><%= notice %></p>

<%= render @zone_j %>

<div>
  <%= link_to "Edit this zone j", edit_zone_j_path(@zone_j) %> |
  <%= link_to "Back to zone js", zone_js_path %>

  <%= button_to "Destroy this zone j", @zone_j, method: :delete %>
</div>
