<p style="color: green"><%= notice %></p>

<%= render @zone_m %>

<div>
  <%= link_to "Edit this zone m", edit_zone_m_path(@zone_m) %> |
  <%= link_to "Back to zone ms", zone_ms_path %>

  <%= button_to "Destroy this zone m", @zone_m, method: :delete %>
</div>
