<%#
# Navigation
This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>
<script src="https://kit.fontawesome.com/ba9f6d5b45.js" crossorigin="anonymous"></script>
<nav class="navigation">

<%= link_to root_path do %>
  <div style="text-align: center;">
  <svg width="50" height="50" viewBox="0 0 142 142" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_dd_103_3)">
  <rect x="21" y="21" width="100" height="100" rx="36" fill="#CEEFFF"/>
  </g>
  <path d="M69.3648 43.4322C69.8322 43.0476 70.4076 42.8389 70.9999 42.8389C71.5921 42.8389 72.1675 43.0476 72.635 43.4322L94.5464 61.4545C95.5073 62.245 96.2847 63.2572 96.8192 64.4139C97.3536 65.5705 97.631 66.8411 97.6302 68.1284V93.5287C97.6302 95.0224 97.069 96.4549 96.0702 97.5111C95.0714 98.5673 93.7167 99.1607 92.3041 99.1607H81.652C80.2394 99.1607 78.8847 98.5673 77.8859 97.5111C76.8871 96.4549 76.3259 95.0224 76.3259 93.5287V76.6327H65.6738V93.5287C65.6738 95.0224 65.1127 96.4549 64.1138 97.5111C63.115 98.5673 61.7603 99.1607 60.3477 99.1607H49.6956C48.2831 99.1607 46.9284 98.5673 45.9295 97.5111C44.9307 96.4549 44.3696 95.0224 44.3696 93.5287V68.1284C44.3696 65.5152 45.5093 63.0597 47.4587 61.4545L69.3648 43.4322V43.4322ZM70.9999 49.2219L50.7236 65.8982C50.4025 66.1622 50.143 66.5005 49.9648 66.8872C49.7866 67.2738 49.6945 67.6984 49.6956 68.1284V93.5287H60.3477V76.6327C60.3477 75.1391 60.9089 73.7065 61.9077 72.6503C62.9065 71.5941 64.2612 71.0008 65.6738 71.0008H76.3259C77.7385 71.0008 79.0932 71.5941 80.092 72.6503C81.0909 73.7065 81.652 75.1391 81.652 76.6327V93.5287H92.3041V68.1284C92.3052 67.6984 92.2131 67.2738 92.0349 66.8872C91.8568 66.5005 91.5972 66.1622 91.2762 65.8982L70.9999 49.2275V49.2219Z" fill="#066DA5"/>
  <defs>
  <filter id="filter0_dd_103_3" x="0" y="0" width="142" height="142" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dx="4" dy="4"/>
  <feGaussianBlur stdDeviation="8.5"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_103_3"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dx="-4" dy="-4"/>
  <feGaussianBlur stdDeviation="8.5"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
  <feBlend mode="normal" in2="effect1_dropShadow_103_3" result="effect2_dropShadow_103_3"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_103_3" result="shape"/>
  </filter>
  </defs>
  </svg>
  
  </div>
<% end %>

    <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
    <% end %>
    <div class="container">

    <div class="dropdown item">

    <svg width="200" height="56" viewBox="0 0 414 130" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_dd_592_5068)">
    <rect x="21" y="21" width="372" height="88" rx="36" fill="#CEEFFF"/>
    </g>
    <path d="M217.205 80V77.0739L232.503 54.6875H217.077V50.9091H237.873V53.8352L222.574 76.2216H238V80H217.205ZM252.354 80.4403C250.309 80.4403 248.524 79.9716 246.999 79.0341C245.474 78.0966 244.291 76.785 243.448 75.0994C242.605 73.4138 242.184 71.4441 242.184 69.1903C242.184 66.9271 242.605 64.9479 243.448 63.2528C244.291 61.5578 245.474 60.2415 246.999 59.304C248.524 58.3665 250.309 57.8977 252.354 57.8977C254.4 57.8977 256.185 58.3665 257.709 59.304C259.234 60.2415 260.417 61.5578 261.26 63.2528C262.103 64.9479 262.525 66.9271 262.525 69.1903C262.525 71.4441 262.103 73.4138 261.26 75.0994C260.417 76.785 259.234 78.0966 257.709 79.0341C256.185 79.9716 254.4 80.4403 252.354 80.4403ZM252.368 76.875C253.694 76.875 254.792 76.5246 255.664 75.8239C256.535 75.1231 257.179 74.1903 257.596 73.0256C258.022 71.8608 258.235 70.5777 258.235 69.1761C258.235 67.7841 258.022 66.5057 257.596 65.3409C257.179 64.1667 256.535 63.2244 255.664 62.5142C254.792 61.804 253.694 61.4489 252.368 61.4489C251.033 61.4489 249.925 61.804 249.044 62.5142C248.173 63.2244 247.525 64.1667 247.098 65.3409C246.682 66.5057 246.473 67.7841 246.473 69.1761C246.473 70.5777 246.682 71.8608 247.098 73.0256C247.525 74.1903 248.173 75.1231 249.044 75.8239C249.925 76.5246 251.033 76.875 252.368 76.875ZM271.512 67.0455V80H267.265V58.1818H271.342V61.733H271.612C272.114 60.5777 272.9 59.6496 273.97 58.9489C275.049 58.2481 276.408 57.8977 278.047 57.8977C279.533 57.8977 280.835 58.2102 281.953 58.8352C283.07 59.4508 283.937 60.3693 284.552 61.5909C285.168 62.8125 285.475 64.3229 285.475 66.1222V80H281.228V66.6335C281.228 65.0521 280.816 63.8163 279.993 62.9261C279.169 62.0265 278.037 61.5767 276.598 61.5767C275.613 61.5767 274.737 61.7898 273.97 62.2159C273.212 62.642 272.611 63.267 272.166 64.0909C271.73 64.9053 271.512 65.8902 271.512 67.0455ZM300.575 80.4403C298.425 80.4403 296.574 79.9811 295.021 79.0625C293.477 78.1345 292.284 76.8324 291.441 75.1562C290.608 73.4706 290.191 71.4962 290.191 69.233C290.191 66.9981 290.608 65.0284 291.441 63.3239C292.284 61.6193 293.458 60.2888 294.964 59.3324C296.479 58.3759 298.25 57.8977 300.277 57.8977C301.508 57.8977 302.701 58.1013 303.856 58.5085C305.011 58.9157 306.048 59.5549 306.967 60.4261C307.886 61.2973 308.61 62.429 309.14 63.821C309.671 65.2036 309.936 66.8845 309.936 68.8636V70.3693H292.592V67.1875H305.774C305.774 66.0701 305.547 65.0805 305.092 64.2188C304.637 63.3475 303.998 62.661 303.174 62.1591C302.36 61.6572 301.404 61.4062 300.305 61.4062C299.112 61.4062 298.07 61.6998 297.18 62.2869C296.299 62.8646 295.618 63.6222 295.135 64.5597C294.661 65.4877 294.424 66.4962 294.424 67.5852V70.071C294.424 71.5294 294.68 72.7699 295.191 73.7926C295.712 74.8153 296.437 75.5966 297.365 76.1364C298.293 76.6667 299.377 76.9318 300.618 76.9318C301.422 76.9318 302.156 76.8182 302.819 76.5909C303.482 76.3542 304.055 76.0038 304.538 75.5398C305.021 75.0758 305.39 74.5028 305.646 73.821L309.666 74.5455C309.344 75.7292 308.766 76.7661 307.933 77.6562C307.109 78.5369 306.072 79.2235 304.822 79.7159C303.582 80.1989 302.166 80.4403 300.575 80.4403ZM330.998 63.5085L327.148 64.1903C326.987 63.6979 326.731 63.2292 326.381 62.7841C326.04 62.339 325.576 61.9744 324.989 61.6903C324.402 61.4062 323.668 61.2642 322.787 61.2642C321.585 61.2642 320.581 61.5341 319.776 62.0739C318.971 62.6042 318.569 63.2907 318.569 64.1335C318.569 64.8627 318.838 65.4498 319.378 65.8949C319.918 66.34 320.789 66.7045 321.992 66.9886L325.458 67.7841C327.465 68.2481 328.962 68.9631 329.946 69.929C330.931 70.8949 331.424 72.1496 331.424 73.6932C331.424 75 331.045 76.1648 330.287 77.1875C329.539 78.2008 328.493 78.9962 327.148 79.5739C325.813 80.1515 324.265 80.4403 322.503 80.4403C320.06 80.4403 318.067 79.9195 316.523 78.8778C314.98 77.8267 314.033 76.3352 313.682 74.4034L317.787 73.7784C318.043 74.8485 318.569 75.6581 319.364 76.2074C320.159 76.7472 321.196 77.017 322.475 77.017C323.867 77.017 324.98 76.7282 325.813 76.1506C326.646 75.5634 327.063 74.8485 327.063 74.0057C327.063 73.3239 326.807 72.7509 326.296 72.2869C325.794 71.8229 325.022 71.4725 323.98 71.2358L320.287 70.4261C318.251 69.9621 316.746 69.2235 315.77 68.2102C314.804 67.197 314.321 65.9138 314.321 64.3608C314.321 63.0729 314.681 61.946 315.401 60.9801C316.121 60.0142 317.115 59.2614 318.384 58.7216C319.653 58.1723 321.106 57.8977 322.745 57.8977C325.103 57.8977 326.959 58.4091 328.313 59.4318C329.667 60.4451 330.562 61.804 330.998 63.5085Z" fill="#066DA5"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M154.903 91.7786C156.556 91.7786 157.894 92.0672 157.894 92.425C157.894 92.7828 156.556 93.0714 154.903 93.0714C153.251 93.0714 151.913 92.7828 151.913 92.425C151.907 92.073 153.246 91.7786 154.903 91.7786ZM117.067 36H146.917C147.39 36 147.777 36.3924 147.777 36.8657V54.8603C147.777 55.3393 147.39 55.7317 146.917 55.7317H117.067C116.594 55.7317 116.206 55.3393 116.206 54.8603V36.8715C116.206 36.3924 116.594 36 117.067 36ZM128.101 56.9321H135.882C135.9 58.2191 136.395 59.3791 137.711 60.3141H166.49C166.906 60.3141 167.282 60.4872 167.556 60.7584C167.829 61.0355 168 61.4164 168 61.8377V66.3738C168 66.7951 167.829 67.176 167.556 67.453C167.282 67.7301 166.906 67.9032 166.49 67.9032H166.394V96.9208C166.394 97.2151 166.274 97.4864 166.08 97.6768L166.075 97.6826C165.881 97.8788 165.619 98 165.328 98H144.752C144.462 98 144.194 97.8788 144 97.6826C143.966 97.648 143.932 97.6076 143.903 97.5672C143.767 97.3883 143.687 97.1632 143.687 96.9208V67.9032H110.755V96.9208C110.755 97.2209 110.635 97.4864 110.441 97.6826C110.248 97.8788 109.98 98 109.689 98H104.642C104.352 98 104.09 97.8788 103.896 97.6826C103.702 97.4864 103.583 97.2209 103.583 96.9266V67.9032H99.5039C99.0881 67.9032 98.7121 67.7301 98.4386 67.453C98.1709 67.176 98 66.7951 98 66.3738V61.8377C98 61.4164 98.1709 61.0355 98.4443 60.7584C98.7178 60.4814 99.0938 60.3141 99.5096 60.3141H126.25C127.332 59.4599 128.107 58.4211 128.101 56.9321ZM131.992 52.8C132.601 52.8 133.091 53.3021 133.091 53.9138C133.091 54.5313 132.596 55.0276 131.992 55.0276C131.382 55.0276 130.887 54.5256 130.887 53.9138C130.892 53.3021 131.382 52.8 131.992 52.8ZM118.787 37.639H145.191C145.607 37.639 145.948 37.9853 145.948 38.4066V51.3341C145.948 51.7554 145.607 52.1016 145.191 52.1016H118.787C118.371 52.1016 118.029 51.7554 118.029 51.3341V38.4066C118.029 37.9853 118.371 37.639 118.787 37.639ZM145.441 76.1041H164.639V67.909H145.441V76.1041ZM164.645 77.8758H145.447V86.2325H164.645V77.8758ZM164.645 88.0158H145.447V96.2225H164.645V88.0158ZM166.245 62.0858H99.7546V66.1199H166.245V62.0858ZM109 67.9032H105.332V96.2167H109V67.9032ZM154.903 71.2736C156.556 71.2736 157.894 71.5448 157.894 71.8853C157.894 72.2258 156.556 72.4971 154.903 72.4971C153.251 72.4971 151.913 72.2201 151.913 71.8853C151.913 71.5506 153.246 71.2736 154.903 71.2736ZM154.903 81.5117C156.556 81.5117 157.894 81.8002 157.894 82.1581C157.894 82.5159 156.556 82.8044 154.903 82.8044C153.251 82.8044 151.913 82.5159 151.913 82.1581C151.907 81.8002 153.246 81.5117 154.903 81.5117Z" fill="#066DA5" stroke="#066DA5" stroke-width="0.86016"/>
    <defs>
    <filter id="filter0_dd_592_5068" x="0" y="0" width="414" height="130" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="4" dy="4"/>
    <feGaussianBlur stdDeviation="8.5"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_592_5068"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="-4" dy="-4"/>
    <feGaussianBlur stdDeviation="8.5"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
    <feBlend mode="normal" in2="effect1_dropShadow_592_5068" result="effect2_dropShadow_592_5068"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_592_5068" result="shape"/>
    </filter>
    </defs>
    </svg>
    

      <div class="dropdown-content">

        <div class="zone-item">
          <%= link_to admin_zone_ds_path, style: "text-decoration: none; height: 40px;" do %>
              <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_dd_592_5085)">
              <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
              </g>
              <path d="M97.5212 47.5327V45.777L106.7 32.3452H97.4445V30.0782H109.922V31.8339L100.743 45.2657H109.998V47.5327H97.5212ZM118.611 47.7969C117.383 47.7969 116.312 47.5157 115.398 46.9532C114.483 46.3907 113.773 45.6037 113.267 44.5924C112.761 43.581 112.508 42.3992 112.508 41.0469C112.508 39.689 112.761 38.5015 113.267 37.4844C113.773 36.4674 114.483 35.6776 115.398 35.1151C116.312 34.5526 117.383 34.2714 118.611 34.2714C119.838 34.2714 120.909 34.5526 121.824 35.1151C122.738 35.6776 123.449 36.4674 123.954 37.4844C124.46 38.5015 124.713 39.689 124.713 41.0469C124.713 42.3992 124.46 43.581 123.954 44.5924C123.449 45.6037 122.738 46.3907 121.824 46.9532C120.909 47.5157 119.838 47.7969 118.611 47.7969ZM118.619 45.6577C119.415 45.6577 120.074 45.4475 120.596 45.027C121.119 44.6066 121.506 44.0469 121.756 43.3481C122.011 42.6492 122.139 41.8793 122.139 41.0384C122.139 40.2032 122.011 39.4361 121.756 38.7373C121.506 38.0327 121.119 37.4674 120.596 37.0412C120.074 36.6151 119.415 36.402 118.619 36.402C117.818 36.402 117.153 36.6151 116.625 37.0412C116.102 37.4674 115.713 38.0327 115.457 38.7373C115.207 39.4361 115.082 40.2032 115.082 41.0384C115.082 41.8793 115.207 42.6492 115.457 43.3481C115.713 44.0469 116.102 44.6066 116.625 45.027C117.153 45.4475 117.818 45.6577 118.619 45.6577ZM130.106 39.76V47.5327H127.557V34.4418H130.003V36.5725H130.165C130.466 35.8793 130.938 35.3225 131.58 34.902C132.228 34.4816 133.043 34.2714 134.026 34.2714C134.918 34.2714 135.699 34.4589 136.37 34.8339C137.04 35.2032 137.56 35.7543 137.93 36.4873C138.299 37.2202 138.484 38.1265 138.484 39.206V47.5327H135.935V39.5128C135.935 38.564 135.688 37.8225 135.194 37.2884C134.699 36.7486 134.02 36.4787 133.157 36.4787C132.566 36.4787 132.04 36.6066 131.58 36.8623C131.126 37.1179 130.765 37.4929 130.498 37.9873C130.236 38.4759 130.106 39.0668 130.106 39.76ZM147.543 47.7969C146.253 47.7969 145.143 47.5214 144.211 46.9702C143.285 46.4134 142.569 45.6321 142.063 44.6265C141.563 43.6151 141.313 42.4304 141.313 41.0725C141.313 39.7316 141.563 38.5498 142.063 37.527C142.569 36.5043 143.273 35.706 144.177 35.1321C145.086 34.5583 146.148 34.2714 147.364 34.2714C148.103 34.2714 148.819 34.3935 149.512 34.6378C150.205 34.8821 150.827 35.2657 151.378 35.7884C151.93 36.3111 152.364 36.9901 152.682 37.8253C153.001 38.6549 153.16 39.6634 153.16 40.8509V41.7543H142.753V39.8452H150.663C150.663 39.1748 150.526 38.581 150.253 38.064C149.981 37.5412 149.597 37.1293 149.103 36.8282C148.614 36.527 148.04 36.3765 147.381 36.3765C146.665 36.3765 146.04 36.5526 145.506 36.9049C144.978 37.2515 144.569 37.706 144.279 38.2685C143.995 38.8253 143.853 39.4304 143.853 40.0839V41.5753C143.853 42.4503 144.006 43.1946 144.313 43.8083C144.626 44.4219 145.06 44.8907 145.617 45.2145C146.174 45.5327 146.824 45.6918 147.569 45.6918C148.052 45.6918 148.492 45.6236 148.89 45.4873C149.288 45.3452 149.631 45.135 149.921 44.8566C150.211 44.5782 150.432 44.2344 150.586 43.8253L152.998 44.26C152.805 44.9702 152.458 45.5924 151.958 46.1265C151.464 46.6549 150.841 47.0668 150.091 47.3623C149.347 47.652 148.498 47.7969 147.543 47.7969ZM168.194 47.5327H162.543V30.0782H168.373C170.083 30.0782 171.552 30.4276 172.779 31.1265C174.006 31.8196 174.947 32.8168 175.6 34.1179C176.259 35.4134 176.589 36.9674 176.589 38.7799C176.589 40.5981 176.256 42.1606 175.591 43.4674C174.932 44.7742 173.978 45.7799 172.728 46.4844C171.478 47.1833 169.966 47.5327 168.194 47.5327ZM165.177 45.2316H168.049C169.378 45.2316 170.484 44.9816 171.364 44.4816C172.245 43.9759 172.904 43.2458 173.341 42.2912C173.779 41.331 173.998 40.1606 173.998 38.7799C173.998 37.4106 173.779 36.2486 173.341 35.2941C172.91 34.3395 172.265 33.6151 171.407 33.1208C170.549 32.6265 169.484 32.3793 168.211 32.3793H165.177V45.2316Z" fill="#066DA5"/>
              <defs>
              <filter id="filter0_dd_592_5085" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dx="4" dy="4"/>
              <feGaussianBlur stdDeviation="8.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_592_5085"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dx="-4" dy="-4"/>
              <feGaussianBlur stdDeviation="8.5"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
              <feBlend mode="normal" in2="effect1_dropShadow_592_5085" result="effect2_dropShadow_592_5085"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_592_5085" result="shape"/>
              </filter>
              </defs>
              </svg>

        <%end%>
        </div>
      <div class="zone-item">
       <%= link_to admin_zone_es_path, style: "text-decoration: none; height: 40px;" do %>
          <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_dd_593_5091)">
          <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
          </g>
          <path d="M98.9509 47.5327V45.777L108.13 32.3452H98.8742V30.0782H111.351V31.8339L102.172 45.2657H111.428V47.5327H98.9509ZM120.04 47.7969C118.813 47.7969 117.742 47.5157 116.827 46.9532C115.913 46.3907 115.202 45.6037 114.697 44.5924C114.191 43.581 113.938 42.3992 113.938 41.0469C113.938 39.689 114.191 38.5015 114.697 37.4844C115.202 36.4674 115.913 35.6776 116.827 35.1151C117.742 34.5526 118.813 34.2714 120.04 34.2714C121.268 34.2714 122.339 34.5526 123.253 35.1151C124.168 35.6776 124.878 36.4674 125.384 37.4844C125.89 38.5015 126.143 39.689 126.143 41.0469C126.143 42.3992 125.89 43.581 125.384 44.5924C124.878 45.6037 124.168 46.3907 123.253 46.9532C122.339 47.5157 121.268 47.7969 120.04 47.7969ZM120.049 45.6577C120.844 45.6577 121.503 45.4475 122.026 45.027C122.549 44.6066 122.935 44.0469 123.185 43.3481C123.441 42.6492 123.569 41.8793 123.569 41.0384C123.569 40.2032 123.441 39.4361 123.185 38.7373C122.935 38.0327 122.549 37.4674 122.026 37.0412C121.503 36.6151 120.844 36.402 120.049 36.402C119.248 36.402 118.583 36.6151 118.055 37.0412C117.532 37.4674 117.143 38.0327 116.887 38.7373C116.637 39.4361 116.512 40.2032 116.512 41.0384C116.512 41.8793 116.637 42.6492 116.887 43.3481C117.143 44.0469 117.532 44.6066 118.055 45.027C118.583 45.4475 119.248 45.6577 120.049 45.6577ZM131.535 39.76V47.5327H128.987V34.4418H131.433V36.5725H131.595C131.896 35.8793 132.368 35.3225 133.01 34.902C133.658 34.4816 134.473 34.2714 135.456 34.2714C136.348 34.2714 137.129 34.4589 137.8 34.8339C138.47 35.2032 138.99 35.7543 139.359 36.4873C139.729 37.2202 139.913 38.1265 139.913 39.206V47.5327H137.365V39.5128C137.365 38.564 137.118 37.8225 136.623 37.2884C136.129 36.7486 135.45 36.4787 134.587 36.4787C133.996 36.4787 133.47 36.6066 133.01 36.8623C132.555 37.1179 132.194 37.4929 131.927 37.9873C131.666 38.4759 131.535 39.0668 131.535 39.76ZM148.973 47.7969C147.683 47.7969 146.572 47.5214 145.64 46.9702C144.714 46.4134 143.998 45.6321 143.493 44.6265C142.993 43.6151 142.743 42.4304 142.743 41.0725C142.743 39.7316 142.993 38.5498 143.493 37.527C143.998 36.5043 144.703 35.706 145.606 35.1321C146.515 34.5583 147.578 34.2714 148.794 34.2714C149.533 34.2714 150.248 34.3935 150.942 34.6378C151.635 34.8821 152.257 35.2657 152.808 35.7884C153.359 36.3111 153.794 36.9901 154.112 37.8253C154.43 38.6549 154.589 39.6634 154.589 40.8509V41.7543H144.183V39.8452H152.092C152.092 39.1748 151.956 38.581 151.683 38.064C151.41 37.5412 151.027 37.1293 150.533 36.8282C150.044 36.527 149.47 36.3765 148.811 36.3765C148.095 36.3765 147.47 36.5526 146.936 36.9049C146.408 37.2515 145.998 37.706 145.709 38.2685C145.425 38.8253 145.283 39.4304 145.283 40.0839V41.5753C145.283 42.4503 145.436 43.1946 145.743 43.8083C146.055 44.4219 146.49 44.8907 147.047 45.2145C147.604 45.5327 148.254 45.6918 148.998 45.6918C149.481 45.6918 149.922 45.6236 150.319 45.4873C150.717 45.3452 151.061 45.135 151.351 44.8566C151.64 44.5782 151.862 44.2344 152.015 43.8253L154.427 44.26C154.234 44.9702 153.888 45.5924 153.388 46.1265C152.893 46.6549 152.271 47.0668 151.521 47.3623C150.777 47.652 149.927 47.7969 148.973 47.7969ZM163.973 47.5327V30.0782H174.916V32.3452H166.606V37.6634H174.345V39.9219H166.606V45.2657H175.018V47.5327H163.973Z" fill="#066DA5"/>
          <defs>
          <filter id="filter0_dd_593_5091" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="4" dy="4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_593_5091"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="-4" dy="-4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
          <feBlend mode="normal" in2="effect1_dropShadow_593_5091" result="effect2_dropShadow_593_5091"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_593_5091" result="shape"/>
          </filter>
          </defs>
          </svg>
      <%end%>
      </div>
       

      <div class="zone-item">
      <%= link_to admin_zone_hs_path, style: "text-decoration: none; height: 40px;" do %>
      <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_dd_596_5095)">
      <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
      </g>
      <path d="M97.2751 47.5327V45.777L106.454 32.3452H97.1984V30.0782H109.676V31.8339L100.497 45.2657H109.752V47.5327H97.2751ZM118.365 47.7969C117.137 47.7969 116.066 47.5157 115.151 46.9532C114.237 46.3907 113.526 45.6037 113.021 44.5924C112.515 43.581 112.262 42.3992 112.262 41.0469C112.262 39.689 112.515 38.5015 113.021 37.4844C113.526 36.4674 114.237 35.6776 115.151 35.1151C116.066 34.5526 117.137 34.2714 118.365 34.2714C119.592 34.2714 120.663 34.5526 121.578 35.1151C122.492 35.6776 123.203 36.4674 123.708 37.4844C124.214 38.5015 124.467 39.689 124.467 41.0469C124.467 42.3992 124.214 43.581 123.708 44.5924C123.203 45.6037 122.492 46.3907 121.578 46.9532C120.663 47.5157 119.592 47.7969 118.365 47.7969ZM118.373 45.6577C119.169 45.6577 119.828 45.4475 120.35 45.027C120.873 44.6066 121.259 44.0469 121.509 43.3481C121.765 42.6492 121.893 41.8793 121.893 41.0384C121.893 40.2032 121.765 39.4361 121.509 38.7373C121.259 38.0327 120.873 37.4674 120.35 37.0412C119.828 36.6151 119.169 36.402 118.373 36.402C117.572 36.402 116.907 36.6151 116.379 37.0412C115.856 37.4674 115.467 38.0327 115.211 38.7373C114.961 39.4361 114.836 40.2032 114.836 41.0384C114.836 41.8793 114.961 42.6492 115.211 43.3481C115.467 44.0469 115.856 44.6066 116.379 45.027C116.907 45.4475 117.572 45.6577 118.373 45.6577ZM129.86 39.76V47.5327H127.311V34.4418H129.757V36.5725H129.919C130.22 35.8793 130.692 35.3225 131.334 34.902C131.982 34.4816 132.797 34.2714 133.78 34.2714C134.672 34.2714 135.453 34.4589 136.124 34.8339C136.794 35.2032 137.314 35.7543 137.683 36.4873C138.053 37.2202 138.237 38.1265 138.237 39.206V47.5327H135.689V39.5128C135.689 38.564 135.442 37.8225 134.948 37.2884C134.453 36.7486 133.774 36.4787 132.911 36.4787C132.32 36.4787 131.794 36.6066 131.334 36.8623C130.879 37.1179 130.519 37.4929 130.252 37.9873C129.99 38.4759 129.86 39.0668 129.86 39.76ZM147.297 47.7969C146.007 47.7969 144.897 47.5214 143.965 46.9702C143.039 46.4134 142.323 45.6321 141.817 44.6265C141.317 43.6151 141.067 42.4304 141.067 41.0725C141.067 39.7316 141.317 38.5498 141.817 37.527C142.323 36.5043 143.027 35.706 143.931 35.1321C144.84 34.5583 145.902 34.2714 147.118 34.2714C147.857 34.2714 148.573 34.3935 149.266 34.6378C149.959 34.8821 150.581 35.2657 151.132 35.7884C151.683 36.3111 152.118 36.9901 152.436 37.8253C152.754 38.6549 152.914 39.6634 152.914 40.8509V41.7543H142.507V39.8452H150.416C150.416 39.1748 150.28 38.581 150.007 38.064C149.735 37.5412 149.351 37.1293 148.857 36.8282C148.368 36.527 147.794 36.3765 147.135 36.3765C146.419 36.3765 145.794 36.5526 145.26 36.9049C144.732 37.2515 144.323 37.706 144.033 38.2685C143.749 38.8253 143.607 39.4304 143.607 40.0839V41.5753C143.607 42.4503 143.76 43.1946 144.067 43.8083C144.379 44.4219 144.814 44.8907 145.371 45.2145C145.928 45.5327 146.578 45.6918 147.323 45.6918C147.806 45.6918 148.246 45.6236 148.644 45.4873C149.041 45.3452 149.385 45.135 149.675 44.8566C149.965 44.5782 150.186 44.2344 150.34 43.8253L152.752 44.26C152.558 44.9702 152.212 45.5924 151.712 46.1265C151.218 46.6549 150.595 47.0668 149.845 47.3623C149.101 47.652 148.252 47.7969 147.297 47.7969ZM162.297 47.5327V30.0782H164.931V37.6634H173.632V30.0782H176.274V47.5327H173.632V39.9219H164.931V47.5327H162.297Z" fill="#066DA5"/>
      <defs>
      <filter id="filter0_dd_596_5095" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="4" dy="4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_596_5095"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="-4" dy="-4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_596_5095" result="effect2_dropShadow_596_5095"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_596_5095" result="shape"/>
      </filter>
      </defs>
      </svg>
      <%end%>
      </div>
      
             
        <div class="zone-item">
        <%= link_to admin_zone_is_path, style: "text-decoration: none; height: 40px;" do %>
        <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_dd_593_5091)">
          <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
          </g>
          <path d="M102.947 47.5327V45.777L112.126 32.3452H102.87V30.0782H115.348V31.8339L106.169 45.2657H115.424V47.5327H102.947ZM124.036 47.7969C122.809 47.7969 121.738 47.5157 120.823 46.9532C119.909 46.3907 119.198 45.6037 118.693 44.5924C118.187 43.581 117.934 42.3992 117.934 41.0469C117.934 39.689 118.187 38.5015 118.693 37.4844C119.198 36.4674 119.909 35.6776 120.823 35.1151C121.738 34.5526 122.809 34.2714 124.036 34.2714C125.264 34.2714 126.335 34.5526 127.25 35.1151C128.164 35.6776 128.875 36.4674 129.38 37.4844C129.886 38.5015 130.139 39.689 130.139 41.0469C130.139 42.3992 129.886 43.581 129.38 44.5924C128.875 45.6037 128.164 46.3907 127.25 46.9532C126.335 47.5157 125.264 47.7969 124.036 47.7969ZM124.045 45.6577C124.84 45.6577 125.5 45.4475 126.022 45.027C126.545 44.6066 126.931 44.0469 127.181 43.3481C127.437 42.6492 127.565 41.8793 127.565 41.0384C127.565 40.2032 127.437 39.4361 127.181 38.7373C126.931 38.0327 126.545 37.4674 126.022 37.0412C125.5 36.6151 124.84 36.402 124.045 36.402C123.244 36.402 122.579 36.6151 122.051 37.0412C121.528 37.4674 121.139 38.0327 120.883 38.7373C120.633 39.4361 120.508 40.2032 120.508 41.0384C120.508 41.8793 120.633 42.6492 120.883 43.3481C121.139 44.0469 121.528 44.6066 122.051 45.027C122.579 45.4475 123.244 45.6577 124.045 45.6577ZM135.531 39.76V47.5327H132.983V34.4418H135.429V36.5725H135.591C135.892 35.8793 136.364 35.3225 137.006 34.902C137.654 34.4816 138.469 34.2714 139.452 34.2714C140.344 34.2714 141.125 34.4589 141.796 34.8339C142.466 35.2032 142.986 35.7543 143.355 36.4873C143.725 37.2202 143.909 38.1265 143.909 39.206V47.5327H141.361V39.5128C141.361 38.564 141.114 37.8225 140.62 37.2884C140.125 36.7486 139.446 36.4787 138.583 36.4787C137.992 36.4787 137.466 36.6066 137.006 36.8623C136.551 37.1179 136.191 37.4929 135.924 37.9873C135.662 38.4759 135.531 39.0668 135.531 39.76ZM152.969 47.7969C151.679 47.7969 150.568 47.5214 149.637 46.9702C148.71 46.4134 147.995 45.6321 147.489 44.6265C146.989 43.6151 146.739 42.4304 146.739 41.0725C146.739 39.7316 146.989 38.5498 147.489 37.527C147.995 36.5043 148.699 35.706 149.602 35.1321C150.512 34.5583 151.574 34.2714 152.79 34.2714C153.529 34.2714 154.245 34.3935 154.938 34.6378C155.631 34.8821 156.253 35.2657 156.804 35.7884C157.355 36.3111 157.79 36.9901 158.108 37.8253C158.426 38.6549 158.585 39.6634 158.585 40.8509V41.7543H148.179V39.8452H156.088C156.088 39.1748 155.952 38.581 155.679 38.064C155.406 37.5412 155.023 37.1293 154.529 36.8282C154.04 36.527 153.466 36.3765 152.807 36.3765C152.091 36.3765 151.466 36.5526 150.932 36.9049C150.404 37.2515 149.995 37.706 149.705 38.2685C149.421 38.8253 149.279 39.4304 149.279 40.0839V41.5753C149.279 42.4503 149.432 43.1946 149.739 43.8083C150.051 44.4219 150.486 44.8907 151.043 45.2145C151.6 45.5327 152.25 45.6918 152.995 45.6918C153.477 45.6918 153.918 45.6236 154.316 45.4873C154.713 45.3452 155.057 45.135 155.347 44.8566C155.637 44.5782 155.858 44.2344 156.012 43.8253L158.424 44.26C158.23 44.9702 157.884 45.5924 157.384 46.1265C156.889 46.6549 156.267 47.0668 155.517 47.3623C154.773 47.652 153.924 47.7969 152.969 47.7969ZM170.602 30.0782V47.5327H167.969V30.0782H170.602Z" fill="#066DA5"/>
          <defs>
          <filter id="filter0_dd_593_5091" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="4" dy="4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_593_5091"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="-4" dy="-4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
          <feBlend mode="normal" in2="effect1_dropShadow_593_5091" result="effect2_dropShadow_593_5091"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_593_5091" result="shape"/>
          </filter>
          </defs>
        </svg>
      <%end%>
      </div>
      

        <div class="zone-item">

         <%= link_to admin_zone_js_path, style: "text-decoration: none; height: 40px;" do %>
      <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_dd_593_5091)">
      <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
      </g>
      <path d="M99.5602 47.5327V45.777L108.739 32.3452H99.4835V30.0782H111.961V31.8339L102.782 45.2657H112.038V47.5327H99.5602ZM120.65 47.7969C119.422 47.7969 118.351 47.5157 117.437 46.9532C116.522 46.3907 115.812 45.6037 115.306 44.5924C114.8 43.581 114.547 42.3992 114.547 41.0469C114.547 39.689 114.8 38.5015 115.306 37.4844C115.812 36.4674 116.522 35.6776 117.437 35.1151C118.351 34.5526 119.422 34.2714 120.65 34.2714C121.877 34.2714 122.948 34.5526 123.863 35.1151C124.778 35.6776 125.488 36.4674 125.993 37.4844C126.499 38.5015 126.752 39.689 126.752 41.0469C126.752 42.3992 126.499 43.581 125.993 44.5924C125.488 45.6037 124.778 46.3907 123.863 46.9532C122.948 47.5157 121.877 47.7969 120.65 47.7969ZM120.658 45.6577C121.454 45.6577 122.113 45.4475 122.636 45.027C123.158 44.6066 123.545 44.0469 123.795 43.3481C124.05 42.6492 124.178 41.8793 124.178 41.0384C124.178 40.2032 124.05 39.4361 123.795 38.7373C123.545 38.0327 123.158 37.4674 122.636 37.0412C122.113 36.6151 121.454 36.402 120.658 36.402C119.857 36.402 119.192 36.6151 118.664 37.0412C118.141 37.4674 117.752 38.0327 117.496 38.7373C117.246 39.4361 117.121 40.2032 117.121 41.0384C117.121 41.8793 117.246 42.6492 117.496 43.3481C117.752 44.0469 118.141 44.6066 118.664 45.027C119.192 45.4475 119.857 45.6577 120.658 45.6577ZM132.145 39.76V47.5327H129.596V34.4418H132.042V36.5725H132.204C132.506 35.8793 132.977 35.3225 133.619 34.902C134.267 34.4816 135.082 34.2714 136.065 34.2714C136.957 34.2714 137.738 34.4589 138.409 34.8339C139.079 35.2032 139.599 35.7543 139.969 36.4873C140.338 37.2202 140.523 38.1265 140.523 39.206V47.5327H137.974V39.5128C137.974 38.564 137.727 37.8225 137.233 37.2884C136.738 36.7486 136.06 36.4787 135.196 36.4787C134.605 36.4787 134.079 36.6066 133.619 36.8623C133.165 37.1179 132.804 37.4929 132.537 37.9873C132.275 38.4759 132.145 39.0668 132.145 39.76ZM149.582 47.7969C148.292 47.7969 147.182 47.5214 146.25 46.9702C145.324 46.4134 144.608 45.6321 144.102 44.6265C143.602 43.6151 143.352 42.4304 143.352 41.0725C143.352 39.7316 143.602 38.5498 144.102 37.527C144.608 36.5043 145.312 35.706 146.216 35.1321C147.125 34.5583 148.187 34.2714 149.403 34.2714C150.142 34.2714 150.858 34.3935 151.551 34.6378C152.244 34.8821 152.866 35.2657 153.417 35.7884C153.969 36.3111 154.403 36.9901 154.721 37.8253C155.04 38.6549 155.199 39.6634 155.199 40.8509V41.7543H144.792V39.8452H152.702C152.702 39.1748 152.565 38.581 152.292 38.064C152.02 37.5412 151.636 37.1293 151.142 36.8282C150.653 36.527 150.079 36.3765 149.42 36.3765C148.704 36.3765 148.079 36.5526 147.545 36.9049C147.017 37.2515 146.608 37.706 146.318 38.2685C146.034 38.8253 145.892 39.4304 145.892 40.0839V41.5753C145.892 42.4503 146.045 43.1946 146.352 43.8083C146.665 44.4219 147.099 44.8907 147.656 45.2145C148.213 45.5327 148.863 45.6918 149.608 45.6918C150.091 45.6918 150.531 45.6236 150.929 45.4873C151.327 45.3452 151.67 45.135 151.96 44.8566C152.25 44.5782 152.471 44.2344 152.625 43.8253L155.037 44.26C154.844 44.9702 154.497 45.5924 153.997 46.1265C153.503 46.6549 152.881 47.0668 152.131 47.3623C151.386 47.652 150.537 47.7969 149.582 47.7969ZM171.366 30.0782H173.991V42.4532C173.991 43.5725 173.77 44.5299 173.327 45.3253C172.889 46.1208 172.273 46.7287 171.477 47.1492C170.682 47.564 169.75 47.7714 168.682 47.7714C167.699 47.7714 166.815 47.5924 166.031 47.2344C165.253 46.8765 164.636 46.3566 164.182 45.6748C163.733 44.9873 163.508 44.152 163.508 43.1691H166.125C166.125 43.652 166.236 44.0696 166.457 44.4219C166.685 44.7742 166.994 45.0498 167.386 45.2486C167.784 45.4418 168.238 45.5384 168.75 45.5384C169.307 45.5384 169.778 45.4219 170.165 45.189C170.557 44.9503 170.855 44.6009 171.06 44.1407C171.264 43.6804 171.366 43.1179 171.366 42.4532V30.0782Z" fill="#066DA5"/>
      <defs>
      <filter id="filter0_dd_593_5091" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="4" dy="4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_593_5091"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="-4" dy="-4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_593_5091" result="effect2_dropShadow_593_5091"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_593_5091" result="shape"/>
      </filter>
      </defs>
      </svg>
    <%end%>
      </div>
   
    
      <div class="zone-item">

         <%= link_to admin_zone_ks_path, style: "text-decoration: none; height: 40px;" do %>

      <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_593_5091)">
        <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
        </g>
        <path d="M98.2126 47.5327V45.777L107.392 32.3452H98.1359V30.0782H110.613V31.8339L101.434 45.2657H110.69V47.5327H98.2126ZM119.302 47.7969C118.075 47.7969 117.004 47.5157 116.089 46.9532C115.174 46.3907 114.464 45.6037 113.958 44.5924C113.453 43.581 113.2 42.3992 113.2 41.0469C113.2 39.689 113.453 38.5015 113.958 37.4844C114.464 36.4674 115.174 35.6776 116.089 35.1151C117.004 34.5526 118.075 34.2714 119.302 34.2714C120.529 34.2714 121.6 34.5526 122.515 35.1151C123.43 35.6776 124.14 36.4674 124.646 37.4844C125.151 38.5015 125.404 39.689 125.404 41.0469C125.404 42.3992 125.151 43.581 124.646 44.5924C124.14 45.6037 123.43 46.3907 122.515 46.9532C121.6 47.5157 120.529 47.7969 119.302 47.7969ZM119.311 45.6577C120.106 45.6577 120.765 45.4475 121.288 45.027C121.811 44.6066 122.197 44.0469 122.447 43.3481C122.703 42.6492 122.83 41.8793 122.83 41.0384C122.83 40.2032 122.703 39.4361 122.447 38.7373C122.197 38.0327 121.811 37.4674 121.288 37.0412C120.765 36.6151 120.106 36.402 119.311 36.402C118.509 36.402 117.845 36.6151 117.316 37.0412C116.794 37.4674 116.404 38.0327 116.149 38.7373C115.899 39.4361 115.774 40.2032 115.774 41.0384C115.774 41.8793 115.899 42.6492 116.149 43.3481C116.404 44.0469 116.794 44.6066 117.316 45.027C117.845 45.4475 118.509 45.6577 119.311 45.6577ZM130.797 39.76V47.5327H128.249V34.4418H130.695V36.5725H130.857C131.158 35.8793 131.629 35.3225 132.272 34.902C132.919 34.4816 133.735 34.2714 134.718 34.2714C135.61 34.2714 136.391 34.4589 137.061 34.8339C137.732 35.2032 138.252 35.7543 138.621 36.4873C138.99 37.2202 139.175 38.1265 139.175 39.206V47.5327H136.627V39.5128C136.627 38.564 136.379 37.8225 135.885 37.2884C135.391 36.7486 134.712 36.4787 133.848 36.4787C133.257 36.4787 132.732 36.6066 132.272 36.8623C131.817 37.1179 131.456 37.4929 131.189 37.9873C130.928 38.4759 130.797 39.0668 130.797 39.76ZM148.235 47.7969C146.945 47.7969 145.834 47.5214 144.902 46.9702C143.976 46.4134 143.26 45.6321 142.754 44.6265C142.254 43.6151 142.004 42.4304 142.004 41.0725C142.004 39.7316 142.254 38.5498 142.754 37.527C143.26 36.5043 143.965 35.706 144.868 35.1321C145.777 34.5583 146.84 34.2714 148.056 34.2714C148.794 34.2714 149.51 34.3935 150.203 34.6378C150.897 34.8821 151.519 35.2657 152.07 35.7884C152.621 36.3111 153.056 36.9901 153.374 37.8253C153.692 38.6549 153.851 39.6634 153.851 40.8509V41.7543H143.445V39.8452H151.354C151.354 39.1748 151.218 38.581 150.945 38.064C150.672 37.5412 150.289 37.1293 149.794 36.8282C149.306 36.527 148.732 36.3765 148.073 36.3765C147.357 36.3765 146.732 36.5526 146.198 36.9049C145.669 37.2515 145.26 37.706 144.97 38.2685C144.686 38.8253 144.544 39.4304 144.544 40.0839V41.5753C144.544 42.4503 144.698 43.1946 145.004 43.8083C145.317 44.4219 145.752 44.8907 146.308 45.2145C146.865 45.5327 147.516 45.6918 148.26 45.6918C148.743 45.6918 149.183 45.6236 149.581 45.4873C149.979 45.3452 150.323 45.135 150.612 44.8566C150.902 44.5782 151.124 44.2344 151.277 43.8253L153.689 44.26C153.496 44.9702 153.149 45.5924 152.649 46.1265C152.155 46.6549 151.533 47.0668 150.783 47.3623C150.039 47.652 149.189 47.7969 148.235 47.7969ZM163.235 47.5327V30.0782H165.868V38.4134H166.081L173.402 30.0782H176.718L169.678 37.9361L176.743 47.5327H173.573L167.931 39.7344L165.868 42.1037V47.5327H163.235Z" fill="#066DA5"/>
        <defs>
        <filter id="filter0_dd_593_5091" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_593_5091"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_593_5091" result="effect2_dropShadow_593_5091"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_593_5091" result="shape"/>
        </filter>
        </defs>
      </svg>
    <%end%>
      </div>
   


      <div class="zone-item">
       <%= link_to admin_zone_ls_path, style: "text-decoration: none; height: 40px;" do %>
    <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_dd_593_5091)">
    <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
    </g>
    <path d="M99.4079 47.5327V45.777L108.587 32.3452H99.3312V30.0782H111.808V31.8339L102.629 45.2657H111.885V47.5327H99.4079ZM120.497 47.7969C119.27 47.7969 118.199 47.5157 117.284 46.9532C116.37 46.3907 115.659 45.6037 115.154 44.5924C114.648 43.581 114.395 42.3992 114.395 41.0469C114.395 39.689 114.648 38.5015 115.154 37.4844C115.659 36.4674 116.37 35.6776 117.284 35.1151C118.199 34.5526 119.27 34.2714 120.497 34.2714C121.725 34.2714 122.796 34.5526 123.71 35.1151C124.625 35.6776 125.335 36.4674 125.841 37.4844C126.347 38.5015 126.6 39.689 126.6 41.0469C126.6 42.3992 126.347 43.581 125.841 44.5924C125.335 45.6037 124.625 46.3907 123.71 46.9532C122.796 47.5157 121.725 47.7969 120.497 47.7969ZM120.506 45.6577C121.301 45.6577 121.96 45.4475 122.483 45.027C123.006 44.6066 123.392 44.0469 123.642 43.3481C123.898 42.6492 124.026 41.8793 124.026 41.0384C124.026 40.2032 123.898 39.4361 123.642 38.7373C123.392 38.0327 123.006 37.4674 122.483 37.0412C121.96 36.6151 121.301 36.402 120.506 36.402C119.705 36.402 119.04 36.6151 118.512 37.0412C117.989 37.4674 117.6 38.0327 117.344 38.7373C117.094 39.4361 116.969 40.2032 116.969 41.0384C116.969 41.8793 117.094 42.6492 117.344 43.3481C117.6 44.0469 117.989 44.6066 118.512 45.027C119.04 45.4475 119.705 45.6577 120.506 45.6577ZM131.992 39.76V47.5327H129.444V34.4418H131.89V36.5725H132.052C132.353 35.8793 132.825 35.3225 133.467 34.902C134.115 34.4816 134.93 34.2714 135.913 34.2714C136.805 34.2714 137.586 34.4589 138.257 34.8339C138.927 35.2032 139.447 35.7543 139.816 36.4873C140.186 37.2202 140.37 38.1265 140.37 39.206V47.5327H137.822V39.5128C137.822 38.564 137.575 37.8225 137.08 37.2884C136.586 36.7486 135.907 36.4787 135.044 36.4787C134.453 36.4787 133.927 36.6066 133.467 36.8623C133.012 37.1179 132.651 37.4929 132.384 37.9873C132.123 38.4759 131.992 39.0668 131.992 39.76ZM149.43 47.7969C148.14 47.7969 147.029 47.5214 146.098 46.9702C145.171 46.4134 144.455 45.6321 143.95 44.6265C143.45 43.6151 143.2 42.4304 143.2 41.0725C143.2 39.7316 143.45 38.5498 143.95 37.527C144.455 36.5043 145.16 35.706 146.063 35.1321C146.973 34.5583 148.035 34.2714 149.251 34.2714C149.99 34.2714 150.705 34.3935 151.399 34.6378C152.092 34.8821 152.714 35.2657 153.265 35.7884C153.816 36.3111 154.251 36.9901 154.569 37.8253C154.887 38.6549 155.046 39.6634 155.046 40.8509V41.7543H144.64V39.8452H152.549C152.549 39.1748 152.413 38.581 152.14 38.064C151.867 37.5412 151.484 37.1293 150.99 36.8282C150.501 36.527 149.927 36.3765 149.268 36.3765C148.552 36.3765 147.927 36.5526 147.393 36.9049C146.865 37.2515 146.455 37.706 146.166 38.2685C145.882 38.8253 145.74 39.4304 145.74 40.0839V41.5753C145.74 42.4503 145.893 43.1946 146.2 43.8083C146.512 44.4219 146.947 44.8907 147.504 45.2145C148.061 45.5327 148.711 45.6918 149.455 45.6918C149.938 45.6918 150.379 45.6236 150.776 45.4873C151.174 45.3452 151.518 45.135 151.808 44.8566C152.098 44.5782 152.319 44.2344 152.473 43.8253L154.884 44.26C154.691 44.9702 154.345 45.5924 153.845 46.1265C153.35 46.6549 152.728 47.0668 151.978 47.3623C151.234 47.652 150.384 47.7969 149.43 47.7969ZM164.43 47.5327V30.0782H167.063V45.2657H174.973V47.5327H164.43Z" fill="#066DA5"/>
    <defs>
    <filter id="filter0_dd_593_5091" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="4" dy="4"/>
    <feGaussianBlur stdDeviation="8.5"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_593_5091"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="-4" dy="-4"/>
    <feGaussianBlur stdDeviation="8.5"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
    <feBlend mode="normal" in2="effect1_dropShadow_593_5091" result="effect2_dropShadow_593_5091"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_593_5091" result="shape"/>
    </filter>
    </defs>
    </svg>
    <%end%>
      </div>
   
        
        <div class="zone-item">
         <%= link_to admin_zone_ms_path, style: "text-decoration: none; height: 40px;" do %>
    <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_dd_593_5091)">
      <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
      </g>
      <path d="M95.4118 47.5327V45.777L104.591 32.3452H95.3351V30.0782H107.812V31.8339L98.6334 45.2657H107.889V47.5327H95.4118ZM116.501 47.7969C115.274 47.7969 114.203 47.5157 113.288 46.9532C112.373 46.3907 111.663 45.6037 111.158 44.5924C110.652 43.581 110.399 42.3992 110.399 41.0469C110.399 39.689 110.652 38.5015 111.158 37.4844C111.663 36.4674 112.373 35.6776 113.288 35.1151C114.203 34.5526 115.274 34.2714 116.501 34.2714C117.729 34.2714 118.8 34.5526 119.714 35.1151C120.629 35.6776 121.339 36.4674 121.845 37.4844C122.351 38.5015 122.604 39.689 122.604 41.0469C122.604 42.3992 122.351 43.581 121.845 44.5924C121.339 45.6037 120.629 46.3907 119.714 46.9532C118.8 47.5157 117.729 47.7969 116.501 47.7969ZM116.51 45.6577C117.305 45.6577 117.964 45.4475 118.487 45.027C119.01 44.6066 119.396 44.0469 119.646 43.3481C119.902 42.6492 120.03 41.8793 120.03 41.0384C120.03 40.2032 119.902 39.4361 119.646 38.7373C119.396 38.0327 119.01 37.4674 118.487 37.0412C117.964 36.6151 117.305 36.402 116.51 36.402C115.709 36.402 115.044 36.6151 114.515 37.0412C113.993 37.4674 113.604 38.0327 113.348 38.7373C113.098 39.4361 112.973 40.2032 112.973 41.0384C112.973 41.8793 113.098 42.6492 113.348 43.3481C113.604 44.0469 113.993 44.6066 114.515 45.027C115.044 45.4475 115.709 45.6577 116.51 45.6577ZM127.996 39.76V47.5327H125.448V34.4418H127.894V36.5725H128.056C128.357 35.8793 128.829 35.3225 129.471 34.902C130.118 34.4816 130.934 34.2714 131.917 34.2714C132.809 34.2714 133.59 34.4589 134.261 34.8339C134.931 35.2032 135.451 35.7543 135.82 36.4873C136.189 37.2202 136.374 38.1265 136.374 39.206V47.5327H133.826V39.5128C133.826 38.564 133.579 37.8225 133.084 37.2884C132.59 36.7486 131.911 36.4787 131.047 36.4787C130.457 36.4787 129.931 36.6066 129.471 36.8623C129.016 37.1179 128.655 37.4929 128.388 37.9873C128.127 38.4759 127.996 39.0668 127.996 39.76ZM145.434 47.7969C144.144 47.7969 143.033 47.5214 142.101 46.9702C141.175 46.4134 140.459 45.6321 139.954 44.6265C139.454 43.6151 139.204 42.4304 139.204 41.0725C139.204 39.7316 139.454 38.5498 139.954 37.527C140.459 36.5043 141.164 35.706 142.067 35.1321C142.976 34.5583 144.039 34.2714 145.255 34.2714C145.993 34.2714 146.709 34.3935 147.403 34.6378C148.096 34.8821 148.718 35.2657 149.269 35.7884C149.82 36.3111 150.255 36.9901 150.573 37.8253C150.891 38.6549 151.05 39.6634 151.05 40.8509V41.7543H140.644V39.8452H148.553C148.553 39.1748 148.417 38.581 148.144 38.064C147.871 37.5412 147.488 37.1293 146.993 36.8282C146.505 36.527 145.931 36.3765 145.272 36.3765C144.556 36.3765 143.931 36.5526 143.397 36.9049C142.868 37.2515 142.459 37.706 142.17 38.2685C141.886 38.8253 141.743 39.4304 141.743 40.0839V41.5753C141.743 42.4503 141.897 43.1946 142.204 43.8083C142.516 44.4219 142.951 44.8907 143.508 45.2145C144.064 45.5327 144.715 45.6918 145.459 45.6918C145.942 45.6918 146.383 45.6236 146.78 45.4873C147.178 45.3452 147.522 45.135 147.812 44.8566C148.101 44.5782 148.323 44.2344 148.476 43.8253L150.888 44.26C150.695 44.9702 150.349 45.5924 149.849 46.1265C149.354 46.6549 148.732 47.0668 147.982 47.3623C147.238 47.652 146.388 47.7969 145.434 47.7969ZM160.434 30.0782H163.63L169.187 43.6464H169.391L174.948 30.0782H178.144V47.5327H175.638V34.902H175.476L170.329 47.5071H168.249L163.101 34.8935H162.939V47.5327H160.434V30.0782Z" fill="#066DA5"/>
      <defs>
      <filter id="filter0_dd_593_5091" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="4" dy="4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_593_5091"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="-4" dy="-4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_593_5091" result="effect2_dropShadow_593_5091"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_593_5091" result="shape"/>
      </filter>
      </defs>
      </svg>
      <%end%>
      </div>
   


          <div class="zone-item">
           <%= link_to admin_zone_ns_path, style: "text-decoration: none; height: 40px;" do %>
        <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_593_5091)">
        <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
        </g>
        <path d="M97.2165 47.5327V45.777L106.395 32.3452H97.1398V30.0782H109.617V31.8339L100.438 45.2657H109.694V47.5327H97.2165ZM118.306 47.7969C117.079 47.7969 116.008 47.5157 115.093 46.9532C114.178 46.3907 113.468 45.6037 112.962 44.5924C112.457 43.581 112.204 42.3992 112.204 41.0469C112.204 39.689 112.457 38.5015 112.962 37.4844C113.468 36.4674 114.178 35.6776 115.093 35.1151C116.008 34.5526 117.079 34.2714 118.306 34.2714C119.533 34.2714 120.604 34.5526 121.519 35.1151C122.434 35.6776 123.144 36.4674 123.65 37.4844C124.155 38.5015 124.408 39.689 124.408 41.0469C124.408 42.3992 124.155 43.581 123.65 44.5924C123.144 45.6037 122.434 46.3907 121.519 46.9532C120.604 47.5157 119.533 47.7969 118.306 47.7969ZM118.314 45.6577C119.11 45.6577 119.769 45.4475 120.292 45.027C120.814 44.6066 121.201 44.0469 121.451 43.3481C121.707 42.6492 121.834 41.8793 121.834 41.0384C121.834 40.2032 121.707 39.4361 121.451 38.7373C121.201 38.0327 120.814 37.4674 120.292 37.0412C119.769 36.6151 119.11 36.402 118.314 36.402C117.513 36.402 116.849 36.6151 116.32 37.0412C115.797 37.4674 115.408 38.0327 115.153 38.7373C114.903 39.4361 114.778 40.2032 114.778 41.0384C114.778 41.8793 114.903 42.6492 115.153 43.3481C115.408 44.0469 115.797 44.6066 116.32 45.027C116.849 45.4475 117.513 45.6577 118.314 45.6577ZM129.801 39.76V47.5327H127.253V34.4418H129.699V36.5725H129.861C130.162 35.8793 130.633 35.3225 131.275 34.902C131.923 34.4816 132.738 34.2714 133.721 34.2714C134.613 34.2714 135.395 34.4589 136.065 34.8339C136.736 35.2032 137.256 35.7543 137.625 36.4873C137.994 37.2202 138.179 38.1265 138.179 39.206V47.5327H135.631V39.5128C135.631 38.564 135.383 37.8225 134.889 37.2884C134.395 36.7486 133.716 36.4787 132.852 36.4787C132.261 36.4787 131.736 36.6066 131.275 36.8623C130.821 37.1179 130.46 37.4929 130.193 37.9873C129.932 38.4759 129.801 39.0668 129.801 39.76ZM147.238 47.7969C145.949 47.7969 144.838 47.5214 143.906 46.9702C142.98 46.4134 142.264 45.6321 141.758 44.6265C141.258 43.6151 141.008 42.4304 141.008 41.0725C141.008 39.7316 141.258 38.5498 141.758 37.527C142.264 36.5043 142.969 35.706 143.872 35.1321C144.781 34.5583 145.844 34.2714 147.06 34.2714C147.798 34.2714 148.514 34.3935 149.207 34.6378C149.9 34.8821 150.523 35.2657 151.074 35.7884C151.625 36.3111 152.06 36.9901 152.378 37.8253C152.696 38.6549 152.855 39.6634 152.855 40.8509V41.7543H142.449V39.8452H150.358C150.358 39.1748 150.221 38.581 149.949 38.064C149.676 37.5412 149.292 37.1293 148.798 36.8282C148.31 36.527 147.736 36.3765 147.077 36.3765C146.361 36.3765 145.736 36.5526 145.202 36.9049C144.673 37.2515 144.264 37.706 143.974 38.2685C143.69 38.8253 143.548 39.4304 143.548 40.0839V41.5753C143.548 42.4503 143.702 43.1946 144.008 43.8083C144.321 44.4219 144.756 44.8907 145.312 45.2145C145.869 45.5327 146.52 45.6918 147.264 45.6918C147.747 45.6918 148.187 45.6236 148.585 45.4873C148.983 45.3452 149.327 45.135 149.616 44.8566C149.906 44.5782 150.128 44.2344 150.281 43.8253L152.693 44.26C152.5 44.9702 152.153 45.5924 151.653 46.1265C151.159 46.6549 150.537 47.0668 149.787 47.3623C149.042 47.652 148.193 47.7969 147.238 47.7969ZM176.327 30.0782V47.5327H173.906L165.034 34.7316H164.872V47.5327H162.238V30.0782H164.676L173.557 42.8964H173.719V30.0782H176.327Z" fill="#066DA5"/>
        <defs>
        <filter id="filter0_dd_593_5091" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_593_5091"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_593_5091" result="effect2_dropShadow_593_5091"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_593_5091" result="shape"/>
        </filter>
        </defs>
        </svg>
      <%end%>
      </div>
     


          <div class="zone-item">
            <%= link_to admin_zone_qs_path, style: "text-decoration: none; height: 40px;" do %>

        <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_596_5095)">
        <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
        </g>
        <path d="M96.9587 47.5327V45.777L106.138 32.3452H96.882V30.0782H109.359V31.8339L100.18 45.2657H109.436V47.5327H96.9587ZM118.048 47.7969C116.821 47.7969 115.75 47.5157 114.835 46.9532C113.92 46.3907 113.21 45.6037 112.704 44.5924C112.199 43.581 111.946 42.3992 111.946 41.0469C111.946 39.689 112.199 38.5015 112.704 37.4844C113.21 36.4674 113.92 35.6776 114.835 35.1151C115.75 34.5526 116.821 34.2714 118.048 34.2714C119.275 34.2714 120.346 34.5526 121.261 35.1151C122.176 35.6776 122.886 36.4674 123.392 37.4844C123.898 38.5015 124.15 39.689 124.15 41.0469C124.15 42.3992 123.898 43.581 123.392 44.5924C122.886 45.6037 122.176 46.3907 121.261 46.9532C120.346 47.5157 119.275 47.7969 118.048 47.7969ZM118.057 45.6577C118.852 45.6577 119.511 45.4475 120.034 45.027C120.557 44.6066 120.943 44.0469 121.193 43.3481C121.449 42.6492 121.577 41.8793 121.577 41.0384C121.577 40.2032 121.449 39.4361 121.193 38.7373C120.943 38.0327 120.557 37.4674 120.034 37.0412C119.511 36.6151 118.852 36.402 118.057 36.402C117.256 36.402 116.591 36.6151 116.062 37.0412C115.54 37.4674 115.15 38.0327 114.895 38.7373C114.645 39.4361 114.52 40.2032 114.52 41.0384C114.52 41.8793 114.645 42.6492 114.895 43.3481C115.15 44.0469 115.54 44.6066 116.062 45.027C116.591 45.4475 117.256 45.6577 118.057 45.6577ZM129.543 39.76V47.5327H126.995V34.4418H129.441V36.5725H129.603C129.904 35.8793 130.376 35.3225 131.018 34.902C131.665 34.4816 132.481 34.2714 133.464 34.2714C134.356 34.2714 135.137 34.4589 135.807 34.8339C136.478 35.2032 136.998 35.7543 137.367 36.4873C137.736 37.2202 137.921 38.1265 137.921 39.206V47.5327H135.373V39.5128C135.373 38.564 135.126 37.8225 134.631 37.2884C134.137 36.7486 133.458 36.4787 132.594 36.4787C132.003 36.4787 131.478 36.6066 131.018 36.8623C130.563 37.1179 130.202 37.4929 129.935 37.9873C129.674 38.4759 129.543 39.0668 129.543 39.76ZM146.981 47.7969C145.691 47.7969 144.58 47.5214 143.648 46.9702C142.722 46.4134 142.006 45.6321 141.501 44.6265C141.001 43.6151 140.751 42.4304 140.751 41.0725C140.751 39.7316 141.001 38.5498 141.501 37.527C142.006 36.5043 142.711 35.706 143.614 35.1321C144.523 34.5583 145.586 34.2714 146.802 34.2714C147.54 34.2714 148.256 34.3935 148.949 34.6378C149.643 34.8821 150.265 35.2657 150.816 35.7884C151.367 36.3111 151.802 36.9901 152.12 37.8253C152.438 38.6549 152.597 39.6634 152.597 40.8509V41.7543H142.191V39.8452H150.1C150.1 39.1748 149.964 38.581 149.691 38.064C149.418 37.5412 149.035 37.1293 148.54 36.8282C148.052 36.527 147.478 36.3765 146.819 36.3765C146.103 36.3765 145.478 36.5526 144.944 36.9049C144.415 37.2515 144.006 37.706 143.716 38.2685C143.432 38.8253 143.29 39.4304 143.29 40.0839V41.5753C143.29 42.4503 143.444 43.1946 143.751 43.8083C144.063 44.4219 144.498 44.8907 145.055 45.2145C145.611 45.5327 146.262 45.6918 147.006 45.6918C147.489 45.6918 147.93 45.6236 148.327 45.4873C148.725 45.3452 149.069 45.135 149.359 44.8566C149.648 44.5782 149.87 44.2344 150.023 43.8253L152.435 44.26C152.242 44.9702 151.895 45.5924 151.395 46.1265C150.901 46.6549 150.279 47.0668 149.529 47.3623C148.785 47.652 147.935 47.7969 146.981 47.7969ZM168.398 41.8736H170.989L172.813 44.2515L173.674 45.3083L176.58 49.1009H173.887L171.944 46.5696L171.279 45.6492L168.398 41.8736ZM177.143 38.8054C177.143 40.6691 176.802 42.2714 176.12 43.6123C175.438 44.9475 174.503 45.9759 173.316 46.6975C172.134 47.4134 170.79 47.7714 169.285 47.7714C167.773 47.7714 166.424 47.4134 165.236 46.6975C164.055 45.9759 163.123 44.9446 162.441 43.6037C161.759 42.2628 161.418 40.6634 161.418 38.8054C161.418 36.9418 161.759 35.3424 162.441 34.0071C163.123 32.6662 164.055 31.6378 165.236 30.9219C166.424 30.2003 167.773 29.8395 169.285 29.8395C170.79 29.8395 172.134 30.2003 173.316 30.9219C174.503 31.6378 175.438 32.6662 176.12 34.0071C176.802 35.3424 177.143 36.9418 177.143 38.8054ZM174.535 38.8054C174.535 37.385 174.305 36.189 173.844 35.2174C173.39 34.2401 172.765 33.5015 171.969 33.0015C171.18 32.4958 170.285 32.2429 169.285 32.2429C168.279 32.2429 167.381 32.4958 166.591 33.0015C165.802 33.5015 165.177 34.2401 164.716 35.2174C164.262 36.189 164.035 37.385 164.035 38.8054C164.035 40.2259 164.262 41.4248 164.716 42.402C165.177 43.3736 165.802 44.1123 166.591 44.6179C167.381 45.1179 168.279 45.3679 169.285 45.3679C170.285 45.3679 171.18 45.1179 171.969 44.6179C172.765 44.1123 173.39 43.3736 173.844 42.402C174.305 41.4248 174.535 40.2259 174.535 38.8054Z" fill="#066DA5"/>
        <defs>
        <filter id="filter0_dd_596_5095" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_596_5095"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_596_5095" result="effect2_dropShadow_596_5095"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_596_5095" result="shape"/>
        </filter>
        </defs>
        </svg>

      <%end%>
      </div>
    

        <div class="zone-item">
        <%= link_to admin_zone_ns_path, style: "text-decoration: none; height: 40px;" do %>

        <svg width="147" height="40" viewBox="0 0 274 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_596_5095)">
        <rect x="21" y="21" width="232" height="38" rx="19" fill="#CEEFFF"/>
        </g>
        <path d="M98.447 47.5327V45.777L107.626 32.3452H98.3702V30.0782H110.848V31.8339L101.669 45.2657H110.924V47.5327H98.447ZM119.536 47.7969C118.309 47.7969 117.238 47.5157 116.323 46.9532C115.409 46.3907 114.698 45.6037 114.193 44.5924C113.687 43.581 113.434 42.3992 113.434 41.0469C113.434 39.689 113.687 38.5015 114.193 37.4844C114.698 36.4674 115.409 35.6776 116.323 35.1151C117.238 34.5526 118.309 34.2714 119.536 34.2714C120.764 34.2714 121.835 34.5526 122.75 35.1151C123.664 35.6776 124.375 36.4674 124.88 37.4844C125.386 38.5015 125.639 39.689 125.639 41.0469C125.639 42.3992 125.386 43.581 124.88 44.5924C124.375 45.6037 123.664 46.3907 122.75 46.9532C121.835 47.5157 120.764 47.7969 119.536 47.7969ZM119.545 45.6577C120.34 45.6577 121 45.4475 121.522 45.027C122.045 44.6066 122.431 44.0469 122.681 43.3481C122.937 42.6492 123.065 41.8793 123.065 41.0384C123.065 40.2032 122.937 39.4361 122.681 38.7373C122.431 38.0327 122.045 37.4674 121.522 37.0412C121 36.6151 120.34 36.402 119.545 36.402C118.744 36.402 118.079 36.6151 117.551 37.0412C117.028 37.4674 116.639 38.0327 116.383 38.7373C116.133 39.4361 116.008 40.2032 116.008 41.0384C116.008 41.8793 116.133 42.6492 116.383 43.3481C116.639 44.0469 117.028 44.6066 117.551 45.027C118.079 45.4475 118.744 45.6577 119.545 45.6577ZM131.031 39.76V47.5327H128.483V34.4418H130.929V36.5725H131.091C131.392 35.8793 131.864 35.3225 132.506 34.902C133.154 34.4816 133.969 34.2714 134.952 34.2714C135.844 34.2714 136.625 34.4589 137.296 34.8339C137.966 35.2032 138.486 35.7543 138.855 36.4873C139.225 37.2202 139.409 38.1265 139.409 39.206V47.5327H136.861V39.5128C136.861 38.564 136.614 37.8225 136.12 37.2884C135.625 36.7486 134.946 36.4787 134.083 36.4787C133.492 36.4787 132.966 36.6066 132.506 36.8623C132.051 37.1179 131.691 37.4929 131.424 37.9873C131.162 38.4759 131.031 39.0668 131.031 39.76ZM148.469 47.7969C147.179 47.7969 146.068 47.5214 145.137 46.9702C144.21 46.4134 143.495 45.6321 142.989 44.6265C142.489 43.6151 142.239 42.4304 142.239 41.0725C142.239 39.7316 142.489 38.5498 142.989 37.527C143.495 36.5043 144.199 35.706 145.102 35.1321C146.012 34.5583 147.074 34.2714 148.29 34.2714C149.029 34.2714 149.745 34.3935 150.438 34.6378C151.131 34.8821 151.753 35.2657 152.304 35.7884C152.855 36.3111 153.29 36.9901 153.608 37.8253C153.926 38.6549 154.085 39.6634 154.085 40.8509V41.7543H143.679V39.8452H151.588C151.588 39.1748 151.452 38.581 151.179 38.064C150.906 37.5412 150.523 37.1293 150.029 36.8282C149.54 36.527 148.966 36.3765 148.307 36.3765C147.591 36.3765 146.966 36.5526 146.432 36.9049C145.904 37.2515 145.495 37.706 145.205 38.2685C144.921 38.8253 144.779 39.4304 144.779 40.0839V41.5753C144.779 42.4503 144.932 43.1946 145.239 43.8083C145.551 44.4219 145.986 44.8907 146.543 45.2145C147.1 45.5327 147.75 45.6918 148.495 45.6918C148.977 45.6918 149.418 45.6236 149.816 45.4873C150.213 45.3452 150.557 45.135 150.847 44.8566C151.137 44.5782 151.358 44.2344 151.512 43.8253L153.924 44.26C153.73 44.9702 153.384 45.5924 152.884 46.1265C152.389 46.6549 151.767 47.0668 151.017 47.3623C150.273 47.652 149.424 47.7969 148.469 47.7969ZM163.469 47.5327V30.0782H169.691C171.043 30.0782 172.165 30.3111 173.057 30.777C173.955 31.2429 174.625 31.8878 175.068 32.7117C175.512 33.5299 175.733 34.4759 175.733 35.5498C175.733 36.6179 175.509 37.5583 175.06 38.3708C174.617 39.1776 173.946 39.8054 173.049 40.2543C172.156 40.7032 171.034 40.9276 169.682 40.9276H164.969V38.6606H169.443C170.296 38.6606 170.989 38.5384 171.523 38.2941C172.063 38.0498 172.458 37.6946 172.708 37.2287C172.958 36.7628 173.083 36.2032 173.083 35.5498C173.083 34.8907 172.955 34.3196 172.699 33.8367C172.449 33.3537 172.054 32.9844 171.514 32.7287C170.98 32.4674 170.279 32.3367 169.409 32.3367H166.102V47.5327H163.469ZM172.085 39.6577L176.398 47.5327H173.398L169.171 39.6577H172.085Z" fill="#066DA5"/>
        <defs>
        <filter id="filter0_dd_596_5095" x="0" y="0" width="274" height="80" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_596_5095"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_596_5095" result="effect2_dropShadow_596_5095"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_596_5095" result="shape"/>
        </filter>
        </defs>
        </svg>

      <%end%>
      </div>
      
      </div>
    </div>


    
    <%= link_to admin_users_path, style: "text-decoration: none; color: #066DA5;" do %>
      <div class="item">
      <svg width="200" height="56" viewBox="0 0 414 130" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_dd_589_5013)">
      <rect x="21" y="21" width="372" height="88" rx="36" fill="#CEEFFF"/>
      </g>
      <path d="M135.266 33C117.445 33 103 47.3261 103 65C103 82.6739 117.445 97 135.266 97C153.087 97 167.532 82.6739 167.532 65C167.532 47.3261 153.087 33 135.266 33ZM135.266 92C120.23 92 108.042 79.9121 108.042 65C108.042 50.0879 120.23 38 135.266 38C150.302 38 162.49 50.0879 162.49 65C162.49 79.9121 150.302 92 135.266 92Z" fill="#066DA5"/>
      <path d="M144.079 71.2735C142.062 70.9317 139.301 68.9923 139.301 68.1505V66.0235C139.301 65.2305 140.384 63.7461 140.845 62.379C140.888 62.2501 141.166 62.3985 141.436 62.0742C141.944 61.4531 142.019 60.5079 142.135 60.0781C142.32 59.4024 141.493 59.375 141.493 59.375C141.493 59.375 142.109 55.8281 141.562 53.5899C140.822 50.5391 136.836 49 135.276 49C133.716 49 129.734 50.539 128.99 53.5899C128.444 55.8281 129.072 59.375 129.072 59.375C129.072 59.375 128.277 59.4024 128.458 60.0781C128.576 60.5079 128.708 61.4531 129.218 62.0742C129.486 62.3985 129.649 62.25 129.693 62.379C130.151 63.7461 131.235 65.2305 131.235 66.0235V68.1505C131.235 68.9923 128.472 70.9317 126.455 71.2735C123.865 71.711 122.585 73.4864 123.192 77.9141C123.495 80.1251 129.379 81.0763 135.209 80.9943C141.038 81.0763 147.011 80.1251 147.314 77.9141C147.923 73.4864 146.67 71.711 144.079 71.2735Z" fill="#066DA5"/>
      <path d="M151.399 55H145.35V57H151.399V55Z" fill="#066DA5"/>
      <path d="M149.384 53H147.367V59H149.384V53Z" fill="#066DA5"/>
      <path d="M230.587 50.9091H234.99V70.0426C234.99 72.0786 234.512 73.8826 233.556 75.4545C232.599 77.017 231.255 78.2481 229.522 79.1477C227.789 80.0379 225.757 80.483 223.428 80.483C221.108 80.483 219.081 80.0379 217.348 79.1477C215.615 78.2481 214.271 77.017 213.314 75.4545C212.358 73.8826 211.88 72.0786 211.88 70.0426V50.9091H216.269V69.6875C216.269 71.0038 216.558 72.1733 217.135 73.196C217.722 74.2188 218.551 75.0237 219.621 75.6108C220.691 76.1884 221.96 76.4773 223.428 76.4773C224.905 76.4773 226.179 76.1884 227.249 75.6108C228.328 75.0237 229.152 74.2188 229.721 73.196C230.298 72.1733 230.587 71.0038 230.587 69.6875V50.9091ZM257.38 63.5085L253.531 64.1903C253.37 63.6979 253.114 63.2292 252.764 62.7841C252.423 62.339 251.959 61.9744 251.372 61.6903C250.785 61.4062 250.051 61.2642 249.17 61.2642C247.967 61.2642 246.964 61.5341 246.159 62.0739C245.354 62.6042 244.951 63.2907 244.951 64.1335C244.951 64.8627 245.221 65.4498 245.761 65.8949C246.301 66.34 247.172 66.7045 248.375 66.9886L251.841 67.7841C253.848 68.2481 255.344 68.9631 256.329 69.929C257.314 70.8949 257.806 72.1496 257.806 73.6932C257.806 75 257.428 76.1648 256.67 77.1875C255.922 78.2008 254.876 78.9962 253.531 79.5739C252.196 80.1515 250.647 80.4403 248.886 80.4403C246.443 80.4403 244.449 79.9195 242.906 78.8778C241.362 77.8267 240.415 76.3352 240.065 74.4034L244.17 73.7784C244.426 74.8485 244.951 75.6581 245.747 76.2074C246.542 76.7472 247.579 77.017 248.858 77.017C250.25 77.017 251.362 76.7282 252.196 76.1506C253.029 75.5634 253.446 74.8485 253.446 74.0057C253.446 73.3239 253.19 72.7509 252.679 72.2869C252.177 71.8229 251.405 71.4725 250.363 71.2358L246.67 70.4261C244.634 69.9621 243.128 69.2235 242.153 68.2102C241.187 67.197 240.704 65.9138 240.704 64.3608C240.704 63.0729 241.064 61.946 241.784 60.9801C242.503 60.0142 243.498 59.2614 244.767 58.7216C246.036 58.1723 247.489 57.8977 249.127 57.8977C251.485 57.8977 253.342 58.4091 254.696 59.4318C256.05 60.4451 256.945 61.804 257.38 63.5085ZM271.88 80.4403C269.73 80.4403 267.879 79.9811 266.326 79.0625C264.782 78.1345 263.589 76.8324 262.746 75.1562C261.913 73.4706 261.496 71.4962 261.496 69.233C261.496 66.9981 261.913 65.0284 262.746 63.3239C263.589 61.6193 264.763 60.2888 266.269 59.3324C267.784 58.3759 269.555 57.8977 271.581 57.8977C272.812 57.8977 274.006 58.1013 275.161 58.5085C276.316 58.9157 277.353 59.5549 278.272 60.4261C279.19 61.2973 279.915 62.429 280.445 63.821C280.975 65.2036 281.24 66.8845 281.24 68.8636V70.3693H263.897V67.1875H277.078C277.078 66.0701 276.851 65.0805 276.397 64.2188C275.942 63.3475 275.303 62.661 274.479 62.1591C273.665 61.6572 272.708 61.4062 271.61 61.4062C270.417 61.4062 269.375 61.6998 268.485 62.2869C267.604 62.8646 266.922 63.6222 266.439 64.5597C265.966 65.4877 265.729 66.4962 265.729 67.5852V70.071C265.729 71.5294 265.985 72.7699 266.496 73.7926C267.017 74.8153 267.741 75.5966 268.669 76.1364C269.597 76.6667 270.682 76.9318 271.922 76.9318C272.727 76.9318 273.461 76.8182 274.124 76.5909C274.787 76.3542 275.36 76.0038 275.843 75.5398C276.326 75.0758 276.695 74.5028 276.951 73.821L280.971 74.5455C280.649 75.7292 280.071 76.7661 279.238 77.6562C278.414 78.5369 277.377 79.2235 276.127 79.7159C274.886 80.1989 273.471 80.4403 271.88 80.4403ZM285.953 80V58.1818H290.058V61.6477H290.285C290.683 60.4735 291.384 59.5502 292.387 58.8778C293.401 58.196 294.547 57.8551 295.825 57.8551C296.09 57.8551 296.403 57.8646 296.762 57.8835C297.132 57.9025 297.421 57.9261 297.629 57.9545V62.017C297.458 61.9697 297.155 61.9176 296.72 61.8608C296.284 61.7945 295.849 61.7614 295.413 61.7614C294.409 61.7614 293.514 61.9744 292.728 62.4006C291.952 62.8172 291.336 63.3996 290.882 64.1477C290.427 64.8864 290.2 65.7292 290.2 66.6761V80H285.953Z" fill="#066DA5"/>
      <defs>
      <filter id="filter0_dd_589_5013" x="0" y="0" width="414" height="130" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="4" dy="4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_589_5013"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="-4" dy="-4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_589_5013" result="effect2_dropShadow_589_5013"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_589_5013" result="shape"/>
      </filter>
      </defs>
      </svg>
      
      </div>
    <%end%>
  
    <%= link_to new_csv_file_path, style: "text-decoration: none; color: #066DA5;" do %>
        <div class="item">
        <svg width="200" height="56" viewBox="0 0 414 130" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_591_5052)">
        <rect x="21" y="21" width="372" height="88" rx="36" fill="#CEEFFF"/>
        </g>
        <path d="M229.889 60.3693H225.457C225.287 59.4223 224.97 58.589 224.506 57.8693C224.042 57.1496 223.473 56.5388 222.801 56.0369C222.129 55.535 221.376 55.1562 220.543 54.9006C219.719 54.6449 218.843 54.517 217.915 54.517C216.239 54.517 214.738 54.9384 213.412 55.7812C212.096 56.6241 211.054 57.8598 210.287 59.4886C209.529 61.1174 209.151 63.1061 209.151 65.4545C209.151 67.822 209.529 69.8201 210.287 71.4489C211.054 73.0777 212.1 74.3087 213.426 75.142C214.752 75.9754 216.243 76.392 217.901 76.392C218.819 76.392 219.69 76.2689 220.514 76.0227C221.348 75.767 222.1 75.393 222.773 74.9006C223.445 74.4081 224.013 73.8068 224.477 73.0966C224.951 72.3769 225.277 71.553 225.457 70.625L229.889 70.6392C229.652 72.0691 229.193 73.3854 228.511 74.5881C227.839 75.7812 226.973 76.8134 225.912 77.6847C224.861 78.5464 223.658 79.214 222.304 79.6875C220.95 80.161 219.473 80.3977 217.872 80.3977C215.353 80.3977 213.109 79.8011 211.139 78.608C209.17 77.4053 207.616 75.6866 206.48 73.4517C205.353 71.2169 204.79 68.5511 204.79 65.4545C204.79 62.3485 205.358 59.6828 206.494 57.4574C207.631 55.2225 209.184 53.5085 211.153 52.3153C213.123 51.1127 215.363 50.5114 217.872 50.5114C219.416 50.5114 220.855 50.7339 222.19 51.179C223.535 51.6146 224.742 52.2585 225.812 53.1108C226.883 53.9536 227.768 54.9858 228.469 56.2074C229.17 57.4195 229.643 58.8068 229.889 60.3693ZM251.15 63.5085L247.3 64.1903C247.139 63.6979 246.884 63.2292 246.533 62.7841C246.192 62.339 245.728 61.9744 245.141 61.6903C244.554 61.4062 243.82 61.2642 242.94 61.2642C241.737 61.2642 240.733 61.5341 239.928 62.0739C239.123 62.6042 238.721 63.2907 238.721 64.1335C238.721 64.8627 238.991 65.4498 239.531 65.8949C240.07 66.34 240.942 66.7045 242.144 66.9886L245.61 67.7841C247.618 68.2481 249.114 68.9631 250.099 69.929C251.084 70.8949 251.576 72.1496 251.576 73.6932C251.576 75 251.197 76.1648 250.44 77.1875C249.692 78.2008 248.645 78.9962 247.3 79.5739C245.965 80.1515 244.417 80.4403 242.656 80.4403C240.212 80.4403 238.219 79.9195 236.675 78.8778C235.132 77.8267 234.185 76.3352 233.835 74.4034L237.94 73.7784C238.195 74.8485 238.721 75.6581 239.516 76.2074C240.312 76.7472 241.349 77.017 242.627 77.017C244.019 77.017 245.132 76.7282 245.965 76.1506C246.799 75.5634 247.215 74.8485 247.215 74.0057C247.215 73.3239 246.96 72.7509 246.448 72.2869C245.946 71.8229 245.174 71.4725 244.133 71.2358L240.44 70.4261C238.404 69.9621 236.898 69.2235 235.923 68.2102C234.957 67.197 234.474 65.9138 234.474 64.3608C234.474 63.0729 234.834 61.946 235.553 60.9801C236.273 60.0142 237.267 59.2614 238.536 58.7216C239.805 58.1723 241.259 57.8977 242.897 57.8977C245.255 57.8977 247.111 58.4091 248.465 59.4318C249.819 60.4451 250.714 61.804 251.15 63.5085ZM274.911 58.1818L266.999 80H262.453L254.527 58.1818H259.087L264.612 74.9716H264.839L270.351 58.1818H274.911ZM289.829 80V50.9091H307.869V54.6875H294.218V63.5511H306.576V67.3153H294.218V80H289.829ZM312.925 80V58.1818H317.173V80H312.925ZM315.07 54.8153C314.332 54.8153 313.697 54.5691 313.167 54.0767C312.646 53.5748 312.386 52.9782 312.386 52.2869C312.386 51.5862 312.646 50.9896 313.167 50.4972C313.697 49.9953 314.332 49.7443 315.07 49.7443C315.809 49.7443 316.439 49.9953 316.96 50.4972C317.49 50.9896 317.755 51.5862 317.755 52.2869C317.755 52.9782 317.49 53.5748 316.96 54.0767C316.439 54.5691 315.809 54.8153 315.07 54.8153ZM327.134 50.9091V80H322.886V50.9091H327.134ZM342.251 80.4403C340.101 80.4403 338.25 79.9811 336.697 79.0625C335.153 78.1345 333.96 76.8324 333.117 75.1562C332.284 73.4706 331.867 71.4962 331.867 69.233C331.867 66.9981 332.284 65.0284 333.117 63.3239C333.96 61.6193 335.134 60.2888 336.64 59.3324C338.155 58.3759 339.926 57.8977 341.952 57.8977C343.183 57.8977 344.377 58.1013 345.532 58.5085C346.687 58.9157 347.724 59.5549 348.643 60.4261C349.561 61.2973 350.286 62.429 350.816 63.821C351.346 65.2036 351.612 66.8845 351.612 68.8636V70.3693H334.268V67.1875H347.45C347.45 66.0701 347.222 65.0805 346.768 64.2188C346.313 63.3475 345.674 62.661 344.85 62.1591C344.036 61.6572 343.079 61.4062 341.981 61.4062C340.788 61.4062 339.746 61.6998 338.856 62.2869C337.975 62.8646 337.293 63.6222 336.81 64.5597C336.337 65.4877 336.1 66.4962 336.1 67.5852V70.071C336.1 71.5294 336.356 72.7699 336.867 73.7926C337.388 74.8153 338.112 75.5966 339.04 76.1364C339.969 76.6667 341.053 76.9318 342.293 76.9318C343.098 76.9318 343.832 76.8182 344.495 76.5909C345.158 76.3542 345.731 76.0038 346.214 75.5398C346.697 75.0758 347.066 74.5028 347.322 73.821L351.342 74.5455C351.02 75.7292 350.442 76.7661 349.609 77.6562C348.785 78.5369 347.748 79.2235 346.498 79.7159C345.257 80.1989 343.842 80.4403 342.251 80.4403Z" fill="#066DA5"/>
        <path d="M135.25 55V79M135.25 55L126.75 63M135.25 55L143.75 63M119.95 93C107.275 93 97 83.4176 97 71.5972C97 61.8004 104.65 52.75 116.125 51C119.724 42.9455 128.243 37 138.18 37C150.907 37 161.31 46.29 162.025 58C168.78 60.7796 173.5 67.6012 173.5 74.9876C173.5 84.9356 164.938 93 154.375 93H119.95Z" stroke="#066DA5" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
        <defs>
        <filter id="filter0_dd_591_5052" x="0" y="0" width="414" height="130" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_591_5052"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_591_5052" result="effect2_dropShadow_591_5052"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_591_5052" result="shape"/>
        </filter>
        </defs>
        </svg>
        
        </div>
    <%end%>
    
  
   


  </div>
</nav>

