<p style="color: green"><%= notice %></p>

<%= render @zone_d %>

<%= @zone_d.status %>

<div>
  <%= link_to "Edit this zone d", edit_zone_d_path(@zone_d) %> |
  <a href='/zones/zone_ds'>Back to zone ds</a>

  <%= button_to "Destroy this zone d", @zone_d, method: :delete %>
</div>
