<p style="color: green"><%= notice %></p>

<%= render @zone_k %>

<div>
  <%= link_to "Edit this zone k", edit_zone_k_path(@zone_k) %> |
  <%= link_to "Back to zone ks", zone_ks_path %>

  <%= button_to "Destroy this zone k", @zone_k, method: :delete %>
</div>
