<p style="color: green"><%= notice %></p>

<%= render @zone_h %>

<div>
  <%= link_to "Edit this zone h", edit_zone_h_path(@zone_h) %> |
  <%= link_to "Back to zone hs", zone_hs_path %>

  <%= button_to "Destroy this zone h", @zone_h, method: :delete %>
</div>
